.img-hor {
  transform: rotateY(180deg);
}

#divBtn {
  font-weight: 500;
  padding-top: 5%;
}

#divLanding{
  margin-top: 10%;
}

#h1Landing{
  font-size: 80px;
}
#divQuote{
  font-size: 36px;
}
#divTesti{
  background-color: #393E46;
  height: 30vh;
  color: white;
  font-size: 30px;
 }
 #divTestiBody{
  padding: 15px;
 }
/* @media only screen and (max-width: 0px){

} */

@media (max-width: 1440px) {
  #divTesti{
    background-color: #393E46;
    height: 40vh;
    color: white;
    font-size: 30px;
   }
   #divTestiBody{
    padding: 15px;
   }
  }
